.bienvenida-page{
  @apply flex flex-col items-center text-white text-center w-full min-h-screen;
  background: url(../img/3a39892643539f17ed2e9eed27514931.jpg) no-repeat center / cover;
}

.logo{
  @apply mt-[14vh] flex items-center text-[2.8rem] text-6xl font-black mx-auto;
}

.icono{
  @apply text-violet-600;
  animation: rotar-icono infinite 15s linear;
}

@keyframes rotar-icono {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.bienvenida-text{
  @apply mt-2 mb-20;
}

.btn-portada{
  border: 1px solid white;
  border-radius: 22px;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.6rem;
}