.bienvenida-page{
  @apply flex flex-col items-center text-white text-center w-full min-h-screen p-4;
  background: url(../img/3a39892643539f17ed2e9eed27514931.jpg) no-repeat center / cover;
}

.logo-container-bienvenida{
  @apply mt-[10vh] mx-auto;
}

.bienvenida-text{
  @apply mt-2;
}

.btn-bienvenida-container{
  @apply 
    flex
    flex-col
    gap-5
    mt-20
    w-full
    md:w-[80vw]
    md:mt-60
  ;
}

.btn-bienvenida{
  @apply 
    border
    border-white
    p-2
    rounded-2xl
    shadow-lg
    w-full
    active:bg-white
    active:text-[var(--color-acento)]
  ;
}