.button-navigation{
  @apply
    bg-inherit
    flex
    items-end
  ;
}

.container-buttons{
  @apply
    bg-[var(--color-principal)]
    flex
    h-4/5
    items-center
    justify-evenly
    w-full
  ;
}

.container-mas{
  @apply
  bg-white
    p-2
    rounded-full
    -translate-y-8
  ;
}

.mas{
  @apply
    bg-[var(--color-principal)]
    flex
    h-[18vw]
    items-center
    justify-center
    rounded-full
    shadow-lg
    shadow-neutral-600/50
    w-[18vw]
  ;
}

.btns{
  @apply
    text-3xl
  ;
}