@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Roboto', sans-serif;
  color: var(--color-secundario);

  --color-principal: #2A2357;
  --color-secundario: #fff;
  --color-acento: #6C5DD2;
  --color-acento-op-80: rgba(108, 93, 210, 0.80);
  --color-acento-op-60: rgba(108, 93, 210, 0.60);
}

@font-face {
  font-family: 'Object Sans';
  src: url("./fonts/OBJECTSANS-HEAVY.OTF");
}

/* LOGO + ICONO */
.logo{
  @apply flex text-5xl;
  font-family: 'Object Sans';
}

.icono{
  @apply text-violet-600 relative -top-1;
  animation: rotar-icono infinite 15s linear;
}

/* @keyframes rotar-icono {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */

/* BACK ARROW */
.back-arrow-container{
  @apply
    w-screen
    absolute
    top-0
    px-5
    py-4
  ;
}

.back-arrow{
  @apply
    text-white
    text-2xl

  ;
}

.back-arrow:active{
  @apply
    text-[var(--color-acento)]
    scale-125
  ;
}