@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Roboto', sans-serif;
  @font-face {
    font-family: 'Object-sans';
    src: url('./font/objectsans-heavy.ttf')
      format('truetype');
  };
}